@font-face {
    font-family: 'ledelaite';
    src: url(../../fonts/LEDLIGHT.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fonte-sec';
    src: url(../../fonts/Neuropol.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fonte-sec', sans-serif;
}

body {
    background-image: url('../../props/branco1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.form-container {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    color: white;
    text-align: center;
}

.indicador {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: gray;
    display: inline-block;
    margin-left: 10px;
    transition: background 0.3s;
}

.vermei { background: red; }
.naranj { background: orange; }
.verde { background: limegreen; }

.texto-container {
    text-align: left;
    margin-right: 250px;
}

.bemvindo {
    font-size: 18px;
    margin-bottom: 20px;
}

.titulo {
    font-family: 'ledelaite';
    font-size: 72px;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: #333;
    color: #fff;
    margin-bottom: 10px;
}

.input-group input:focus {
    border-color: #e67e22;
    outline: none;
}

.btn-cadastrar {
    background-color: #e67e22;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-cadastrar:hover {
    background-color: #e67e22;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #ddd;
}

.login-link a {
    color: #f39c12;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
